//variables



$font-stack: "Gotham SSm A", "Gotham SSm B";
$heading-small: "Knockout 48 A", "Knockout 48 B";
$heading-big: "Knockout 49 A", "Knockout 49 B";

$sans-stack:"proxima-nova",'Gill Sans', "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;



$margin-bottom:28px;


//colors
$dark-blue:#101616;
$blue:#3e4f4f;
$orange:#ff4a12;
$light:#d8dac2;
